{% include 'head.html' %}

<section>
	<h1>Admin controls</h1>
	<a href="/admin/api" class="button">API keys</a>
</section>
<br />
<section>
	<h2>Home page content</h2>
	<form method="POST">
		<textarea name="home_text" style="width: 100%;" rows="10">{{ home_text }}</textarea>
		<br />
		<small>Add formatting using <a href="http://support.mashery.com/docs/customizing_your_portal/Markdown_Cheat_Sheet" target="_blank">Markdown</a></small>
		<br />
		<br />
		<button type="submit">Save</button>
		<br />
		<br />
	</form>
</section>
<section>
	<h2>Print All ID Cards</h2>
	<form action=/cards/all>
		<h3>Select semester for which to generate ID cards:</h3>
		<select name="semester" size="{{ semesters|length }}">
			{% for semester in semesters %}
			<option value={{ semester }}{% if semester == current_semester%} selected="selected"{%endif%}>{{ semester }}</option>
			{% endfor %}
		</select>
		<br />
		<br />
		<button type="submit">Print</button>
		<br />
		<br />
	</form>

</section>

{% include 'foot.html' %}
