{% include 'head.html' %}

<section>
	<h1 style="text-align: center;">Bridge Crew</h1>
	<table class="simpleTable">
		<tr>
			<td><strong>Admiral</strong></td>
			<td>{{ current_crew.admiral_name }}</td>
		</tr>
		<tr>
			<td><strong>Captain</strong></td>
			<td>{{ current_crew.captain_name }}</td>
		</tr>
		<tr>
			<td><strong>First Officer</strong></td>
			<td>{{ current_crew.first_officer_name }}</td>
		</tr>
		<tr>
			<td><strong>Chief Operations Officer</strong></td>
			<td>{{ current_crew.ops_name }}</td>
		</tr>
		<tr>
			<td><strong>Chief Communications Officer</strong></td>
			<td>{{ current_crew.comms_name }}</td>
		</tr>
		<tr>
			<td><strong>Chief Engineer</strong></td>
			<td>{{ current_crew.engi_name }}</td>
		</tr>
		{% if admin %}
			<tr>
				<td colspan="2"><a href="/bridgecrew/edit?id={{ current_crew.id }}" style="text-decoration: none;">&#x270e; Edit</a></td>
			</tr>
		{% endif %}
	</table>
</section>
<section style="max-width: 1024px;">
	<h2>Past Bridge Crews</h2>
	<table class="bigListTable" style="width: 100%;">
		<tr>
			{% if admin %}
				<td></td>
			{% endif %}
			<th>Year</th>
			<th>Admiral</th>
			<th>Captain</th>
			<th>First Officer</th>
			<th>Operations</th>
			<th>Communications</th>
			<th>Engineer</th>
		</tr>
		{% for crew in past_crews %}
			<tr>
				{% if admin %}
					<td><a href="/bridgecrew/edit?id={{ crew.id }}" style="text-decoration: none;">&#x270e;</a></td>
				{% endif %}
				<td>{{ crew.year_str }}</td>
				<td>{{ crew.admiral_name }}</td>
				<td>{{ crew.captain_name }}</td>
				<td>{{ crew.first_officer_name }}</td>
				<td>{{ crew.ops_name }}</td>
				<td>{{ crew.comms_name }}</td>
				<td>{{ crew.engi_name }}</td>
			</tr>
		{% endfor %}
	</table>
</section>
<br />

{% include 'foot.html' %}
