		<footer id="footer">
			<p>
				<a href="https://www.facebook.com/RITSTARclub" target="_blank" class="socialIcon fb">STAR on Facebook</a>
				<a href="https://plus.google.com/111596425090423212471" target="_blank" class="socialIcon gplus">STAR on Google+</a>
				<a href="https://twitter.com/RITSTARclub" target="_blank" class="socialIcon twitter">STAR on Twitter</a>
				<a href="https://ritstar.slack.com" target="_blank" class="socialIcon slack">STAR on Slack</a>
				<a href="https://www.youtube.com/channel/UC_sSvm5L7MhFoN2fqZapLoQ" target="_blank" class="socialIcon youtube">STAR on YouTube</a>
			</p>
			<p>Written by <a href="https://zmyaro.com" target="_blank">Zachary Yaro</a>.</p>
			{% if engi %}
				<p>Currently maintained by {{ engi }}.</p>
			{% endif %}
		</footer>
	</body>
</html>
