		<footer id="footer">
			<p>
				<a href="mailto:star@rit.edu" target="_blank" class="socialIcon email">E-mail star@rit.edu</a>
				<a href="https://www.facebook.com/RITSTARclub" target="_blank" class="socialIcon fb">STAR on Facebook</a>
				<a href="https://twitter.com/RITSTARclub" target="_blank" class="socialIcon twitter">STAR on Twitter</a>
				<a href="https://ritstar.slack.com" target="_blank" class="socialIcon slack">STAR on Slack</a>
				<a href="https://www.youtube.com/channel/UC_sSvm5L7MhFoN2fqZapLoQ" target="_blank" class="socialIcon youtube">STAR on YouTube</a>
			</p>
			<p>Written by <a href="https://zmyaro.com" target="_blank">Zachary Yaro</a>.</p>
			{% if engi %}
				<p>Currently maintained by {{ engi }}.</p>
			{% endif %}
			{% if admin %}
				<a href="/admin">Admin hub</a>
			{% endif %}
			{% if user %}
				<p>
					{{ user.email() }}
					&middot;
					<a href="{{ login_url }}">Switch Google account</a>
					&middot;
					<a href="{{ logout_url }}">Sign out Google account</a>
				</p>
			{% else %}
				<p>
					<a href="{{ login_url }}">Admin sign in with Google</a>
				</p>
			{% endif %}
		</footer>
	</body>
</html>
