		<footer id="footer">
			<p>
				<a href="mailto:star@rit.edu" target="_blank" title="Email STAR"><!--
					--><svg role="img" class="icon" viewBox="0 0 24 24">
						<title>Email STAR</title>
						<use xlink:href="/static/images/icons/email.svg#icon" href="/static/images/icons/email.svg#icon"></use>
					</svg><!--
				--></a>
				<a href="https://www.facebook.com/RITSTARclub" target="_blank" title="STAR on Facebook"><!--
					--><svg role="img" class="icon" viewBox="0 0 24 24">
						<title>STAR on Facebook</title>
						<use xlink:href="/static/images/icons/facebook.svg#icon" href="/static/images/icons/facebook.svg#icon"></use>
					</svg><!--
				--></a>
				<a href="https://twitter.com/RITSTARclub" target="_blank" title="STAR on Twitter"><!--
					--><svg role="img" class="icon" viewBox="0 0 24 24">
						<title>STAR on Twitter</title>
						<use xlink:href="/static/images/icons/twitter.svg#icon" href="/static/images/icons/twitter.svg#icon"></use>
					</svg><!--
				--></a>
				<a href="https://www.youtube.com/channel/UC_sSvm5L7MhFoN2fqZapLoQ" target="_blank" title="STAR on YouTube"><!--
					--><svg role="img" class="icon" viewBox="0 0 24 24">
						<title>STAR on YouTube</title>
						<use xlink:href="/static/images/icons/youtube.svg#icon" href="/static/images/icons/youtube.svg#icon"></use>
					</svg><!--
				--></a>
				<a href="https://discord.ritstar.com" target="_blank" title="STAR Discord server"><!--
					--><svg role="img" class="icon" viewBox="0 0 24 24">
						<title>STAR Discord server</title>
						<use xlink:href="/static/images/icons/discord.svg#icon" href="/static/images/icons/discord.svg#icon"></use>
					</svg><!--
				--></a>
				<a href="https://ritstar.slack.com" target="_blank" title="STAR Slack team"><!--
					--><svg role="img" class="icon" viewBox="0 0 24 24">
						<title>STAR Slack team</title>
						<use xlink:href="/static/images/icons/slack.svg#icon" href="/static/images/icons/slack.svg#icon"></use>
					</svg><!--
				--></a>
			</p>
			<p>Website created by <a href="https://zmyaro.com" target="_blank">Zachary Yaro</a>.</p>
			{% if engi %}
				<p>Currently maintained by {{ engi }}.</p>
			{% endif %}
			{% if admin %}
				<a href="/admin">Admin hub</a>
			{% endif %}
			{% if user %}
				<p>
					{{ user.email() }}
					&middot;
					<a href="{{ login_url }}">Switch Google account</a>
					&middot;
					<a href="{{ logout_url }}">Sign out Google account</a>
				</p>
			{% else %}
				<p>
					<a href="{{ login_url }}">Admin sign in with Google</a>
				</p>
			{% endif %}
		</footer>
	</body>
</html>
