{% include 'head.html' %}

<section>
	<h1>Greetings, program!</h1>
	<p>
		Space-Time Adventures at RIT (STAR) is RIT's own science fiction club! STAR hopes to bring student sci-fi enthusiasts together to share and enjoy TV and film series such as <i>Doctor Who</i>, <i>Star Trek</i>, <i>Battlestar Galactica</i>, <i>Star Wars</i>, <i>Firefly</i>, and many more through club meetings, screenings, and other events. 
	</p>
	<p>
		STAR runs weekly missions every Monday night from 19:00-21:00 (7:00pm-9:00pm) in Campus Center room 2510/2560, as well as various other special missions throughout the school year.  Weekly missions are always free and open to the public, while certain special missions are only free for STAR members.  Upcoming missions include:
	</p>

	<table class="eventsTable">
		<tr>
			<td><a href="#">Mission 1</a></li>
			<td>Saturday, February 27 &middot; 10:00-18:00</td>
		</tr>
		<tr>
			<td><a href="#">Mission 2</a></li>
			<td>Monday, February 29 &middot; 19:00-21:00</td>
		</tr>
		<tr>
			<td><a href="#">Longer Mission Name</a></li>
			<td>Monday, March 7  &middot; 19:00-21:00</td>
		</tr>
	</table>


	<h2 style="text-align: center;">Live long and prosper.</h2>
</section>

{% include 'foot.html' %}
