{% include 'head.html' %}

<section>
	<h1>Greetings, program!</h1>
	<p>
		Space-Time Adventures at RIT (STAR) is RIT's own science fiction club!  STAR brings sci-fi enthusiasts together to share and enjoy series such as <i>Doctor Who</i>, <i>Star Trek</i>, <i>Battlestar Galactica</i>, <i>Star Wars</i>, <i>Firefly</i>, and others through discussions, screenings, and other events. 
	</p>
	<p>
		STAR runs weekly missions Monday nights from 7-9 PM upstairs in the Campus Center, as well as various other special missions throughout the school year.  Weekly missions are always free and open to the public, while certain special missions are only free for STAR members.  Upcoming missions include:
	</p>
</section>

<section>
	<table class="simpleTable">
		{% for mission in missions %}
			<tr>
				<td><a href="/missions/{{ mission.id }}"><strong>{{ mission.title }}</strong></a></td>
				<td>{{ pretty_date(mission.start, mission.end)|safe }}</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="2" style="text-align: center;">No upcoming missions</td>
			</tr>
		{% endfor %}
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td><a href="/missions">All missions &rarr;</a></td>
			<td><a href="https://www.google.com/calendar/embed?src=b08se0bscqlp87h4voj32to710%40group.calendar.google.com" target="_blank">Full event calendar &rarr;</a></td>
		</tr>
	</table>
</section>

<section style="text-align: center;">
	<h2 style="margin-bottom: 0;">Join our groups</h2>
	<a href="https://www.facebook.com/groups/STARIT" target="_blank" class="socialIcon large fb">Facebook Group</a>
	<a href="https://ritstar.slack.com" target="_blank" class="socialIcon large slack">Slack team</a>
</section>

<h2 style="text-align: center;">{{ end_quote }}</h2>

{% include 'foot.html' %}
