{% include 'head.html' %}

<section>
	<h1>Greetings, program!</h1>
	{{ home_html|safe }}
</section>

<section>
	<table class="simpleTable">
		{% for mission in missions %}
			<tr>
				<td><a href="/missions/{{ mission.id }}"><strong>{{ mission.title }}</strong></a></td>
				<td>{{ mission.pretty_date|safe }}</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="2" style="text-align: center;">No upcoming missions</td>
			</tr>
		{% endfor %}
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td><a href="/missions">All missions &rarr;</a></td>
			<td><a href="https://www.google.com/calendar/embed?src=b08se0bscqlp87h4voj32to710%40group.calendar.google.com" target="_blank">Full event calendar &rarr;</a></td>
		</tr>
	</table>
</section>

<section style="text-align: center;">
	<h2 style="margin-bottom: 0;">Join our groups</h2>
	<a href="https://www.facebook.com/groups/STARIT" target="_blank" class="socialIcon large fb">Facebook Group</a>
	<a href="https://ritstar.slack.com" target="_blank" class="socialIcon large slack">Slack team</a>
</section>

<h2 style="text-align: center;">{{ end_quote }}</h2>

{% include 'foot.html' %}
