{% include 'head.html' %}

<section>
	<h1>Hidden Users (Admin Only)</h1>
	{% if admin %}
		<div style="margin: 2em 0;">
			<a role="button" href="/members/edit">&#x2795; Add member</a>
			<a role="button" href="/members/mailinglist" target="_blank">&#x2709; Get mailing list</a>
		</div>
	{% endif %}
	<table class="bigListTable">
		<tr>
			<td></td>
			<th>Name</th>
			<th>Rank</th>
			<th>Mailing list?</th>
			<th>Card printed?</th>
			<th>Paid?</th>
		</tr>
		{% for member in members %}
			<tr>
				<td><a href="/members/edit?id={{ member.id }}" style="text-decoration: none;">&#x270e;</a></td>
				<td><a href="/members/{{ member.id }}"><strong>{{ name_with_rank(member, current_semester) }}</strong></a></td>
				<td><abbr title="{{ rank_name(member, current_semester) }}">{{ rank_disp(member, current_semester) }}</abbr></td>
				<td>{% if member.mailing_list %}&#x2611;{% else %}&#x2610;{% endif %}</td>
				<td>{% if member.card_printed %}&#x2611;{% else %}&#x2610;{% endif %}</td>
				<td>{% if not member.never_paid %}&#x2611;{% else %}&#x2610;{% endif %}</td>
			</tr>
		{% endfor %}
	</table>
	{% if admin %}
		<div style="margin: 2em 0;">
			<a role="button" href="/members/edit">&#x2795; Add member</a>
			<a role="button" href="/members/mailinglist" target="_blank">&#x2709; Get mailing list</a>
		</div>
	{% endif %}
</section>

{% include 'foot.html' %}
