{% include 'head.html' %}

<link rel="stylesheet" type="text/css" href="/static/styles/member.css" />

<section>
	<h1>{{ member.name }}</h1>
	<div>
		Current rank: {{ member.get_rank_name() }}
	</div>
	<iframe class="id-card" src="/cards/single/{{ member.id }}"
		onload="this.contentDocument.querySelector('.card').style.margin = '0'; this.contentDocument.body.style.overflow = 'hidden';"></iframe>
	
	
	<div class="member-info-column">
		{% if member.missions %}
			<h3>Missions run:</h3>
			<ul>
				{% for mission in member.missions %}
					<li>
						<a href="/mission/{{ mission.id }}">{{ mission.title }}</a>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
	
	<div class="member-info-column">
	<h3>Was a member:</h3>
		<ul>
		{% for semester in member.get_semesters_paid_pretty() %}
			<li>
				{{ semester }}
			</li>
		{% endfor %}
		</ul>
	</div>
	
	{% if admin %}
		<br /><br />
		<a role="button" href="/members/edit?id={{ member.id }}">&#x270e; Edit member</a>
		<a role="button" href="/cards/single/{{ member.id }}" target="_blank">&#x1f5b6; Generate ID card</a>
	{% endif %}
</section>
<br />

{% include 'foot.html' %}
