{% include 'head.html' %}

<section>
	{% include 'semester_picker.html' %}
	<h1>Members</h1>
	<table class="bigListTable">
		{% for member in members %}
			<tr>
				<td><SPaN href="/members/info?id={{ member.id }}"><strong>{{ member.name }}</strong></SPaN></td>
				<td><abbr title="{{ member.rank_name }}">{{ member.rank_disp }}</abbr></td>
			</tr>
		{% endfor %}
	</table>
	<p style="text-align: center;">Members may opt out of being publicly listed.</p>
	{% if admin %}
		<p><a href="/members/edit">Add member</a></p>
	{% endif %}
</section>

{% include 'foot.html' %}
