{% include 'head.html' %}

<section>
	{% include 'semester_picker.html' %}
	<h1>Members</h1>
	{% if admin %}
		<div style="margin: 2em 0;">
			<a role="button" href="/members/edit">&#x2795; Add member</a>
			<a role="button" href="/members/hidden">&#x1f441; Hidden members</a>
			<br /><br />
			<a role="button" href="/members/mailinglist" target="_blank">&#x2709; Get mailing list</a>
			<a role="button" href="/cards/all" target="_blank">&#x1f5b6; Unprinted ID cards</a>
		</div>
	{% endif %}
	<table class="bigListTable">
		<tr>
			{% if admin %}
				<td></td>
			{% endif %}
			<th>Name</th>
			<th>Rank <a href="#ranks" style="vertical-align: top; font-size: 75%;">?</a></th>
			{% if admin %}
				<th>Mailing list?</th>
				<th>Card printed?</th>
			{% endif %}
		</tr>
		{% for member in members %}
			<tr>
				{% if admin %}
					<td><a href="/members/edit?id={{ member.id }}" style="text-decoration: none;">&#x270e;</a></td>
				{% endif %}
				<td><a href="/members/{{ member.id }}"><strong>{{ member.get_name_with_rank(selected_semester) }}</strong></a></td>
				<td><abbr title="{{ member.get_rank_name(selected_semester) }}">{{ member.get_rank_disp(selected_semester) }}</abbr></td>
				{% if admin %}
					<td>{% if member.mailing_list %}&#x2611;{% else %}&#x2610;{% endif %}</td>
					<td>{% if member.card_printed %}&#x2611;{% else %}&#x2610;{% endif %}</td>
				{% endif %}
			</tr>
		{% endfor %}
	</table>
	<p style="text-align: center;">Members may <a href="https://docs.google.com/forms/d/e/1FAIpQLSecOKyptl2uAPMEwjiMO2Sn67hEimDBqOorGvrsChO3SbTpMg/viewform" target="_blank">opt in or out</a> of being publicly listed.</p>
	{% if admin %}
		<div style="margin: 2em 0;">
			<a role="button" href="/members/edit">&#x2795; Add member</a>
			<a role="button" href="/members/hidden">&#x1f441; Hidden members</a>
			<br /><br />
			<a role="button" href="/members/mailinglist" target="_blank">&#x2709; Get mailing list</a>
			<a role="button" href="/cards/all" target="_blank">&#x1f5b6; Unprinted ID cards</a>
		</div>
	{% endif %}
</section>
<section>
	<a name="ranks"></a>
	<h2>Ranks</h2>
	<p>Ranks are awarded every semester to acknowledge members' efforts towards the betterment of STAR.  They are awarded to those who have volunteered at STAR events, run one of STAR's weekly missions, achieved longevity as a member, or go above and beyond for the sake of the club.</p>
	<p>Members are promoted to the admiralty upon leaving RIT and STAR.</p>
</section>

{% include 'foot.html' %}
