{% include 'head.html' %}

<section>
	<h1>Edit Member</h1>
	<form action="" method="POST">
		<table class="formTable" style="width: 100%;">
			<tr>
				<td>
					System ID
				</td>
				<td>
					<input type="text" value="{{ member.id }}" disabled="disabled" />
					<input type="hidden" name="id" value="{{ member.id }}" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="show">Show publicly?</label>
				</td>
				<td>
					<input type="checkbox" name="show"{% if member.show %} checked="checked"{% endif %} />
				</td>
			</tr>
			<tr>
				<td>
					<label for="name">Name</label>
				</td>
				<td>
					<input type="text" name="name" value="{{ member.name or '' }}" required="required" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="dce">DCE</label>
				</td>
				<td>
					<input type="text" name="dce" value="{{ member.dce or '' }}" />
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<hr />
				</td>
			</tr>
			<tr>
				<td>
					<label for="email">Preferred e-mail address</label>
				</td>
				<td>
					<input type="email" name="email" value="{{ member.email or '' }}" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="mailing_list">On the maliing list?</label>
				</td>
				<td>
					<input type="checkbox" name="mailing_list"{% if member.mailing_list %} checked="checked"{% endif %} />
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<hr />
				</td>
			</tr>
			<tr>
				<td>
					<label for="current_student">Current student?</label>
				</td>
				<td>
					<input type="checkbox" name="current_student"{% if member.current_student %} checked="checked"{% endif %} />
				</td>
			</tr>
			<tr>
				<td>
					Semesters paid
					<br />
					<small>Ctrl+click to multi-select</small>
				</td>
				<td>
					<select name="semesters_paid" multiple="multiple" size="{{ semesters|length }}">
						{% for semester in semesters %}
							<option value={{ semester }}{% if semester in member.semesters_paid %} selected="selected"{% endif %}>{{ semester }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>
					Volunteer rank for committee service?
				</td>
				<td>
					<input type="checkbox" name="committee_rank"{% if member.committee_rank %} checked="checked"{% endif %} />
				</td>
			</tr>
			<tr>
				<td>
					Awarded merit ranks?
				</td>
				<td>
					<input type="checkbox" name="merit_rank1"{% if member.merit_rank1 %} checked="checked"{% endif %} />
					<input type="checkbox" name="merit_rank2"{% if member.merit_rank2 %} checked="checked"{% endif %} />
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<hr />
				</td>
			</tr>
			<tr>
				<td>ID card color</td>
				<td>
					<select name="card_color">
						<option value="blue"{% if member.card_color == 'blue' %} selected="selected"{% endif %}>Blue</option>
						<option value="green"{% if member.card_color == 'green' %} selected="selected"{% endif %}>Green</option>
						<option value="purple"{% if member.card_color == 'purple' %} selected="selected"{% endif %}>Purple</option>
						<option value="red"{% if member.card_color == 'red' %} selected="selected"{% endif %}>Red</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>ID card emblem</td>
				<td>
					<select name="card_emblem">
						<option value="aperture"{% if member.card_emblem == 'aperture' %} selected="selected"{% endif %}>Aperture Science</option>
						<option value="green_lantern"{% if member.card_emblem == 'green_lantern' %} selected="selected"{% endif %}>Green Lantern</option>
						<option value="rebel_alliance"{% if member.card_emblem == 'rebel_alliance' %} selected="selected"{% endif %}>Rebel Alliance</option>
						<option value="shield"{% if member.card_emblem == 'shield' %} selected="selected"{% endif %}>S.H.I.E.L.D.</option>
						<option value="starfleet"{% if member.card_emblem == 'starfleet' %} selected="selected"{% endif %}>Starfleet</option>
						<option value="tardis"{% if member.card_emblem == 'tardis' %} selected="selected"{% endif %}>TARDIS</option>
					</select>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<hr />
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<button type="submit">Save</button>
				</td>
			</tr>
		</table>
	</form>
</section>
<br />

{% include 'foot.html' %}
