{% include 'head.html' %}

<section>
	<h1>Edit Mission</h1>
	<form action="" method="POST">
		<table class="formTable" style="width: 100%;">
			<tr>
				<td>
					<label for="id">
						Mission number
						<br />
						<small>Or unique identifier (numbers and lowercase letters) for special missions</small>
					</label>
				</td>
				<td>
					{% if mission.id %}
						<input type="hidden" name="id" value="{{ mission.id }}" />
						<input type="text" name="id" value="{{ mission.id }}" disabled="disabled" />
					{% else %}
						<input type="text" name="id" required="required" pattern="[a-z0-9\-]+" />
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>
					<label for="type">Type</label>
				</td>
				<td>
					<select name="type">
						<option value="0"{% if mission.type == 0 %} selected="selected"{% endif %}>Weekly (Standard)</option>
						<option value="1"{% if mission.type == 1 %} selected="selected"{% endif %}>Special</option>
						<option value="2"{% if mission.type == 2 %} selected="selected"{% endif %}>Away</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<label for="title">Title</label>
				</td>
				<td>
					<input type="text" name="title" value="{{ mission.title or '' }}" required="required" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="description">
						Description
						<br />
						<small>Add formatting using <a href="http://support.mashery.com/docs/customizing_your_portal/Markdown_Cheat_Sheet" target="_blank">Markdown</a></small>
					</label>
				</td>
				<td>
					<textarea name="description">{{ mission.description or '' }}</textarea>
				</td>
			</tr>
			<tr>
				<td>
					<label for="start">
						Start date/time
						<br />
						<small>yyyy-mm-ddThh:mm</small>
					</label>
				</td>
				<td>
					<input type="datetime-local" name="start" value="{{ mission.start_str or '' }}" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="end">
						End date/time
						<br />
						<small>yyyy-mm-ddThh:mm</small>
					</label>
				</td>
				<td>
					<input type="datetime-local" name="end" value="{{ mission.end_str or '' }}" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="location">Location</label>
				</td>
				<td>
					<input type="text" name="location" value="{{ mission.location or '' }}" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="runners">
						Runners
						<br />
						<small>Use comma-separated UUIDs for now</small>
					</label>
				</td>
				<td>
					<input type="text" class="awesomplete" name="runners" data-list="Ada, Java, JavaScript, Brainfuck, LOLCODE, Node.js, Ruby on Rails"/>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<hr />
				</td>
			</tr>
			<tr>
				<td>
					<label for="wave_url">
						Mission wave
						<br />
						<small>Only shown to admins</small>
					</label>
				</td>
				<td>
					<input type="url" id="wave_url" name="wave_url" value="{{ mission.wave_url or '' }}" placeholder="https://rizzoma.com/topic/XXXXXXXX...XXXXXXXX" pattern="https://rizzoma.com/topic/[a-z0-9]+/?" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="drive_url">
						Google Drive folder
						<br />
						<small>Only shown to admins</small>
					</label>
				</td>
				<td>
					<input type="url" id="drive_url" name="drive_url" value="{{ mission.drive_url or '' }}" placeholder="https://drive.google.com/drive/folders/XXXXXXXX...XXXXXXXX" pattern="https://drive.google.com/drive/folders/[A-Za-z0-9_\-]+" />
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<hr />
				</td>
			</tr>
			<tr>
				<td>
					<label for="intro_url">Intro. presentation</label>
				</td>
				<td>
					<input type="url" id="intro_url" name="intro_url" value="{{ mission.intro_url or '' }}" placeholder="https://docs.google.com/presentation/d/XXXXXXXX...XXXXXXXX/edit" pattern="https://docs.google.com/presentation/[a-tv-z]/[A-Za-z0-9_\-\/]+/edit" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="pres_url">Mission presentation</label>
				</td>
				<td>
					<input type="url" id="pres_url" name="pres_url" value="{{ mission.pres_url or '' }}" placeholder="https://docs.google.com/presentation/d/XXXXXXXX...XXXXXXXX/edit" />
					<!-- No validation on this field because it could be Prezi, PowerPoint Online, etc. -->
				</td>
			</tr>
			<tr>
				<td>
					<label for="sign_in_url">Sign-in form</label>
				</td>
				<td>
					<input type="url" id="sign_in_url" name="sign_in_url" value="{{ mission.sign_in_url or '' }}" placeholder="https://docs.google.com/forms/d/XXXXXXXX...XXXXXXXX/viewform" pattern="https://docs.google.com/forms/[a-tv-z]/[A-Za-z0-9_\-\/]+/viewform" />
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<hr />
				</td>
			</tr>
			<tr>
				<td>
					<label for="fb_url">Facebook event</label>
				</td>
				<td>
					<input type="url" id="fb_url" name="fb_url" value="{{ mission.fb_url or '' }}" placeholder="https://www.facebook.com/events/XXXXXXXX...XXXXXXXX" pattern="https://www.facebook.com/events/[0-9]+/?" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="youtube_url">YouTube video</label>
				</td>
				<td>
					<input type="url" id="youtube_url" name="youtube_url" value="{{ mission.youtube_url or '' }}" placeholder="https://www.youtube.com/watch?v=XXXXXXXXXXX" pattern="https://www.youtube.com/(watch\?v=[^#&\?]+|playlist\?list=[^#&\?]+)" />
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<hr />
				</td>
			</tr>
			<tr>
				<td>
					<label for="gplus_url">Google+ event (legacy)</label>
					<br />
					<small>Not needed for new missions</small>
				</td>
				<td>
					<input type="url" id="gplus_url" name="gplus_url" value="{{ mission.gplus_url or '' }}" placeholder="https://plus.google.com/events/XXXXXXXX...XXXXXXXX" pattern="https://plus.google.com/events/[a-z0-9]+" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="the_link_url">The Link event (legacy)</label>
					<br />
					<small>Not needed for new missions</small>
				</td>
				<td>
					<input type="url" id="the_link_url" name="the_link_url" value="{{ mission.the_link_url or '' }}" placeholder="https://thelink.rit.edu/organization/STAR/calendar/details/XXXXXX" />
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<hr />
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<button type="submit">Save</button>
				</td>
			</tr>
		</table>
	</form>
</section>
<script type="text/javascript" src="/static/scripts/mission_field_validation.js"></script>
<br />

{% include 'foot.html' %}
