{% include 'head.html' %}

<section>
	{% if mission.youtube_url %}
		<iframe class="streamPlayer" src="{{ mission.youtube_embed_url }}" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
	{% elif mission.cover_photo_url %}
		<img class="coverPhoto" src="{{ mission.cover_photo_embed_url }}" alt="Mission cover photo." />
	{% endif %}
	{% if not mission.cover_photo_url and admin %}
		<br />
		<a href="/missions/edit?id={{ mission.id }}" class="hasIcon missing tiny">
			<svg role="img" class="icon tiny missing" viewBox="0 0 24 24" aria-hidden="true">
				<use xlink:href="/static/images/icons/image.svg#icon" href="/static/images/icons/image.svg#icon"></use>
			</svg>
			No cover photo link
		</a>
	{% endif %}
	{% if not mission.youtube_url and admin and mission.type == 0 %}
		<br />
		<a href="/missions/edit?id={{ mission.id }}" class="hasIcon missing tiny">
			<svg role="img" class="icon tiny missing" viewBox="0 0 24 24" aria-hidden="true">
				<use xlink:href="/static/images/icons/youtube.svg#icon" href="/static/images/icons/youtube.svg#icon"></use>
			</svg>
			No YouTube stream link
		</a>
	{% endif %}
	<aside class="minor" style="margin-top: {% if mission.youtube_url %}1.5em{% else %}0.5em{% endif %};">{{ mission.type_name }}</aside>
	<h1>
		{% if mission.type == 0 %}Week {{ mission.week_number }} - {% endif %}
		{{ mission.title }}
	</h1>
	
	<div class="hasIcon">
		<svg role="img" class="icon tiny" viewBox="0 0 24 24">
			<title>Time</title>
			<use xlink:href="/static/images/icons/time.svg#icon" href="/static/images/icons/time.svg#icon"></use>
		</svg>
		{{ mission.pretty_date|safe }}
	</div>
	<br />
	<div class="hasIcon">
		<svg role="img" class="icon tiny" viewBox="0 0 24 24">
			<title>Location</title>
			<use xlink:href="/static/images/icons/location.svg#icon" href="/static/images/icons/location.svg#icon"></use>
		</svg>
		{{ mission.location }}
	</div>
	
	{% if mission.type == 2 and mission.carpool_start %}
		<!-- Carpool information for away mission -->
		<br />
		<div class="hasIcon" style="font-weight: bold;">
			<svg role="img" class="icon tiny" viewBox="0 0 24 24" aria-hidden="true">
				<title>Carpool</title>
				<use xlink:href="/static/images/icons/car.svg#icon" href="/static/images/icons/car.svg#icon"></use>
			</svg>
			Carpool leaves {{ mission.carpool_location or '' }} at {{ mission.pretty_carpool_time }}
		</div>
	{% endif %}
	
	<p>
		{% if mission.description %}
			{{ mission.html_description|safe }}
		{% else %}
			<em>No mission details.</em>
		{% endif %}
	</p>
	
	<p>
		{% if mission.fb_url %}
			<a href="{{ mission.fb_url }}" target="_blank" class="button callToAction hasIcon">
				<svg role="img" class="icon small" viewBox="0 0 24 24" aria-label="Facebook">
					<use xlink:href="/static/images/icons/facebook.svg#icon" href="/static/images/icons/facebook.svg#icon"></use>
				</svg>
				RSVP and view details
			</a>
		{% elif admin %}
			<a href="/missions/edit?id={{ mission.id }}" class="hasIcon missing small" style="font-size: larger;">
				<svg role="img" class="icon small missing" viewBox="0 0 24 24" aria-label="Facebook">
					<use xlink:href="/static/images/icons/facebook.svg#icon" href="/static/images/icons/facebook.svg#icon"></use>
				</svg>
				No Facebook event link
			</a>
		{% endif %}
	</p>
	
	{% if mission.gplus_url or mission.the_link_url %}
		<fieldset style="text-align: center;">
			<legend>Legacy event links</legend>
			{% if mission.gplus_url %}
				<a href="{{ mission.gplus_url }}" target="_blank"><!--
					--><svg role="img" class="icon small" viewBox="0 0 24 24">
						<title>Google+ event</title>
						<use xlink:href="/static/images/icons/gplus.svg#icon" href="/static/images/icons/gplus.svg#icon"></use>
					</svg><!--
				--></a>
			{% endif %}
			
			{% if mission.the_link_url %}
				<a href="{{ mission.the_link_url }}" target="_blank" class="socialIcon thelink small">The Link event</a>
			{% endif %}
		</fieldset>
	{% endif %}
	
	{% if admin %}
		<fieldset>
			<legend>Admin links</legend>
			{% if mission.wave_url %}
				<a href="{{ mission.wave_url }}" target="_blank" class="hasIcon" style="font-size: larger;">
					<svg role="img" class="icon small" viewBox="0 0 24 24" aria-label="Rizzoma">
						<use xlink:href="/static/images/icons/rizzoma.svg#icon" href="/static/images/icons/rizzoma.svg#icon"></use>
					</svg>
					Full mission plan
				</a>
			{% else %}
				<a href="/missions/edit?id={{ mission.id }}" class="hasIcon missing small" style="font-size: larger;">
					<svg role="img" class="icon small missing" viewBox="0 0 24 24" aria-label="Rizzoma">
						<use xlink:href="/static/images/icons/rizzoma.svg#icon" href="/static/images/icons/rizzoma.svg#icon"></use>
					</svg>
					No mission wave link
				</a>
			{% endif %}
			
			<br />
			
			{% if mission.drive_url %}
				<a href="{{ mission.drive_url }}" target="_blank" class="hasIcon" style="font-size: larger;">
					<svg role="img" class="icon small" viewBox="0 0 24 24" aria-label="Google Drive">
						<use xlink:href="/static/images/icons/gdrive.svg#icon" href="/static/images/icons/gdrive.svg#icon"></use>
					</svg>
					Mission files
				</a>
			{% else %}
				<a href="/missions/edit?id={{ mission.id }}" class="hasIcon missing small" style="font-size: larger;">
					<svg role="img" class="icon small missing" viewBox="0 0 24 24" aria-label="Google Drive">
						<use xlink:href="/static/images/icons/gdrive.svg#icon" href="/static/images/icons/gdrive.svg#icon"></use>
					</svg>
					No Google Drive link
				</a>
			{% endif %}
			
			{# Only require these links for standard missions. #}
			{% if mission.intro_url %}
				<br />
				<a href="{{ mission.intro_url }}" target="_blank" class="hasIcon">
					<svg role="img" class="icon tiny" viewBox="0 0 24 24" aria-hidden="true">
						<use xlink:href="/static/images/icons/presentation.svg#icon" href="/static/images/icons/presentation.svg#icon"></use>
					</svg>
					Intro. presentation
				</a>
			{% elif mission.type == 0 %}
				<br />
				<a href="/missions/edit?id={{ mission.id }}" class="hasIcon missing tiny">
					<svg role="img" class="icon tiny missing" viewBox="0 0 24 24" aria-label="Google Drive">
						<use xlink:href="/static/images/icons/presentation.svg#icon" href="/static/images/icons/presentation.svg#icon"></use>
					</svg>
					No intro. presentation link
				</a>
			{% endif %}
			
			{% if mission.pres_url %}
				<br />
				<a href="{{ mission.pres_url }}" target="_blank" class="hasIcon">
					<svg role="img" class="icon tiny" viewBox="0 0 24 24" aria-hidden="true">
						<use xlink:href="/static/images/icons/presentation.svg#icon" href="/static/images/icons/presentation.svg#icon"></use>
					</svg>
					Mission presentation
				</a>
			{% endif %}
			
			{% if mission.sign_in_url %}
				<br />
				<a href="{{ mission.sign_in_url }}" target="_blank" class="hasIcon">
					<svg role="img" class="icon tiny" viewBox="0 0 24 24" aria-hidden="true">
						<use xlink:href="/static/images/icons/document.svg#icon" href="/static/images/icons/document.svg#icon"></use>
					</svg>
					Sign-in form
				</a>
			{% elif mission.type == 0 %}
				<br />
				<a href="/missions/edit?id={{ mission.id }}" class="hasIcon missing tiny">
					<svg role="img" class="icon tiny missing" viewBox="0 0 24 24" aria-hidden="true">
						<use xlink:href="/static/images/icons/document.svg#icon" href="/static/images/icons/document.svg#icon"></use>
					</svg>
					No sign-in form link
				</a>
			{% endif %}
		</fieldset>
	{% endif %}
	
	{% if mission.runners %}
		{% if mission.type == 0 %}
			<h3>Run by:</h3>
		{% else %}
			<h3>Volunteers:</h3>
		{% endif %}
		<ul style="list-style-type: none;">
			{% for runner in mission.runners_list %}
				{% if runner.show %}
					<li>
						<a href="/members/{{ runner.id }}">{{ runner.name or runner.id }}</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	{% endif %}
	
	{% if admin %}
		<br /><br />
		<a role="button" href="/missions/edit?id={{ mission.id }}">&#x270e; Edit mission</a>
	{% endif %}
</section>
<br />

{% include 'foot.html' %}
