{% include 'head.html' %}

<section>
	<h1>Edit Mission</h1>
	<form action="" method="POST">
		<table class="formTable" style="width: 100%;">
			<tr>
				<td>
					<label for="id">
						Mission number
						<br />
						<small>or unique identifier (numbers and lowercase letters) for special missions</small>
					</label>
				</td>
				<td>
					{% if mission.id %}
						<input type="hidden" name="id" value="{{ mission.id }}" />
						<input type="text" name="id" id="mission_id" value="{{ mission.id }}" disabled="disabled" />
					{% else %}
						<input type="text" name="id" id="mission_id" required="required" pattern="[a-z0-9]+" />
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>
					<label for="type">Type</label>
				</td>
				<td>
					<select name="type" id="type">
						<option value="0"{% if mission.type == 0 %} selected="selected"{% endif %}>Weekly (Standard)</option>
						<option value="1"{% if mission.type == 1 %} selected="selected"{% endif %}>Special</option>
						<option value="2"{% if mission.type == 2 %} selected="selected"{% endif %}>Away</option>
					</select>
				</td>
			</tr>
			<tr id="weekNumberRow">
				<td>
					<label for="week_number">
						RIT week number
						<br />
						<small>in the current semester</small>
						<br />
						<small>(Only for weekly missions)</small>
					</label>
				</td>
				<td>
					<input type="number" name="week_number" value="{{ mission.week_number or '' }}" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="title">Title</label>
				</td>
				<td>
					<input type="text" name="title" value="{{ mission.title or '' }}" required="required" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="description">
						Description
						<br />
						<small>Add formatting using <a href="http://support.mashery.com/docs/customizing_your_portal/Markdown_Cheat_Sheet" target="_blank">Markdown</a></small>
					</label>
				</td>
				<td>
					<textarea name="description" rows="6">{{ mission.description or '' }}</textarea>
				</td>
			</tr>
			<tr>
				<td>
					<label for="runners">
						Runners
						<br />
						<small>Use comma-separated UUIDs for now</small>
					</label>
				</td>
				<td>
					<textarea name="runners">{{ mission.runners_str or '' }}</textarea>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<hr />
				</td>
			</tr>
			<tr id="carpoolStartRow">
				<td>
					<label for="carpool_start">
						Carpool start time
						<br />
						<small>yyyy-mm-ddThh:mm</small>
						<br />
						<small>(Only for away missions)</small>
					</label>
				</td>
				<td>
					<input type="datetime-local" name="carpool_start" value="{{ mission.carpool_start_str or '' }}" />
				</td>
			</tr>
			<tr id="carpoolEndRow">
				<td>
					<label for="carpool_end">
						Carpool end time
						<br />
						<small>yyyy-mm-ddThh:mm</small>
						<br />
						<small>(Only for away missions)</small>
					</label>
				</td>
				<td>
					<input type="datetime-local" name="carpool_end" value="{{ mission.carpool_end_str or '' }}" />
				</td>
			</tr>
			<tr id="carpoolLocationRow">
				<td>
					<label for="carpool_location">Carpool location</label>
						<br />
						<small>(Only for away missions)</small>
				</td>
				<td>
					<input type="text" name="carpool_location" value="{{ mission.carpool_location or '' }}" list="carpool_location_suggestions" />
					<datalist id="carpool_location_suggestions">
						<option value="SAU Lobby"></option>
						<option value="The Sentinel"></option>
					</datalist>
				</td>
			</tr>
			<tr>
				<td>
					<label for="start">
						Start date/time
						<br />
						<small>yyyy-mm-ddThh:mm</small>
					</label>
				</td>
				<td>
					<input type="datetime-local" name="start" value="{{ mission.start_str or '' }}" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="end">
						End date/time
						<br />
						<small>yyyy-mm-ddThh:mm</small>
					</label>
				</td>
				<td>
					<input type="datetime-local" name="end" value="{{ mission.end_str or '' }}" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="location">Location</label>
				</td>
				<td>
					<input type="text" name="location" value="{{ mission.location or '' }}" list="location_suggestions" />
					<datalist id="location_suggestions">
						<option value="Campus Center 1000"></option>
						<option value="Campus Center 1010"></option>
						<option value="Campus Center 1015"></option>
						<option value="Campus Center 1010+1015"></option>
						<option value="Campus Center 2610 (Bamboo Room)"></option>
						<option value="Campus Center 2650 (Bamboo Room)"></option>
						<option value="Campus Center 2610+2650 (Bamboo Room)"></option>
						<option value="Campus Center 2050 (Reading Room)"></option>
						<option value="Campus Center 2740"></option>
						<option value="Campus Center Fireside Lounge"></option>
						<option value="Cinemark Tinseltown USA and IMAX"></option>
						<option value="Gosnell 1250"></option>
						<option value="Liberal Arts A205"></option>
						<option value="Regal Henrietta 18"></option>
						<option value="SAU 1300 (Davis Room)"></option>
						<option value="SAU 1500 (Alumni Room)"></option>
						<option value="SAU 1510 (1829 Room)"></option>
						<option value="SAU 1740 (Kathy Hall Conference Room)"></option>
						<option value="SAU 2510 (MOSAIC/Clark B)"></option>
						<option value="SAU 2520 (Clark A)"></option>
					</datalist>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<hr />
				</td>
			</tr>
			<tr>
				<td>
					<label for="wave_url">
						Mission wave
						<br />
						<small>(Only shown to admins)</small>
					</label>
				</td>
				<td>
					<input type="url" id="wave_url" name="wave_url" value="{{ mission.wave_url or '' }}" placeholder="https://rizzoma.com/topic/XXXXXXXX...XXXXXXXX" pattern="https://rizzoma.com/topic/[a-z0-9]+/?" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="drive_url">
						Google Drive folder
						<br />
						<small>(Only shown to admins)</small>
					</label>
				</td>
				<td>
					<input type="url" id="drive_url" name="drive_url" value="{{ mission.drive_url or '' }}" placeholder="https://drive.google.com/drive/folders/XXXXXXXX...XXXXXXXX" pattern="https://drive.google.com/drive/folders/[A-Za-z0-9_\-]+" />
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<hr />
				</td>
			</tr>
			<tr>
				<td>
					<label for="intro_url">Intro. presentation</label>
				</td>
				<td>
					<input type="url" id="intro_url" name="intro_url" value="{{ mission.intro_url or '' }}" placeholder="https://docs.google.com/presentation/d/XXXXXXXX...XXXXXXXX/edit" pattern="https://docs.google.com/presentation/[a-tv-z]/[A-Za-z0-9_\-\/]+/edit" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="pres_url">Mission presentation</label>
				</td>
				<td>
					<input type="url" id="pres_url" name="pres_url" value="{{ mission.pres_url or '' }}" placeholder="https://docs.google.com/presentation/d/XXXXXXXX...XXXXXXXX/edit" />
					<!-- No validation on this field because it could be Prezi, PowerPoint Online, etc. -->
				</td>
			</tr>
			<tr>
				<td>
					<label for="sign_in_url">Sign-in form</label>
				</td>
				<td>
					<input type="url" id="sign_in_url" name="sign_in_url" value="{{ mission.sign_in_url or '' }}" placeholder="https://docs.google.com/forms/d/XXXXXXXX...XXXXXXXX/viewform" pattern="https://docs.google.com/forms/[a-tv-z]/[A-Za-z0-9_\-\/]+/viewform" />
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<hr />
				</td>
			</tr>
			<tr>
				<td>
					<label for="cover_photo_url">
						Cover photo
						<br />
						<small>GDrive link to the PNG or JPEG</small>
					</label>
				</td>
				<td>
					<input type="url" id="cover_photo_url" name="cover_photo_url" value="{{ mission.cover_photo_url or '' }}" placeholder="https://drive.google.com/file/d/XXXXXXXX...XXXXXXXX/view" pattern="https://drive.google.com/file/d/[A-Za-z0-9_\-]+(/view|/edit)?" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="fb_url">Facebook event</label>
				</td>
				<td>
					<input type="url" id="fb_url" name="fb_url" value="{{ mission.fb_url or '' }}" placeholder="https://www.facebook.com/events/XXXXXXXX...XXXXXXXX" pattern="https://www.facebook.com/events/[0-9]+/?" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="youtube_url">YouTube video</label>
				</td>
				<td>
					<input type="url" id="youtube_url" name="youtube_url" value="{{ mission.youtube_url or '' }}" placeholder="https://www.youtube.com/watch?v=XXXXXXXXXXX" pattern="https://www.youtube.com/(watch\?v=[^#&\?]+|playlist\?list=[^#&\?]+)" />
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<hr />
				</td>
			</tr>
			<tr>
				<td>
					<label for="gplus_url">Google+ event (legacy)</label>
					<br />
					<small>Not needed for new missions</small>
				</td>
				<td>
					<input type="url" id="gplus_url" name="gplus_url" value="{{ mission.gplus_url or '' }}" placeholder="https://plus.google.com/events/XXXXXXXX...XXXXXXXX" pattern="https://plus.google.com/events/[a-z0-9]+" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="the_link_url">The Link event (legacy)</label>
					<br />
					<small>Not needed for new missions</small>
				</td>
				<td>
					<input type="url" id="the_link_url" name="the_link_url" value="{{ mission.the_link_url or '' }}" placeholder="https://thelink.rit.edu/organization/STAR/calendar/details/XXXXXX" />
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<hr />
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<button type="submit">Save</button>
				</td>
			</tr>
		</table>
	</form>
</section>
<script type="text/javascript" src="/static/scripts/mission_field_validation.js"></script>
<br />

{% include 'foot.html' %}
