{% include 'head.html' %}

<section>
	{% if mission.youtube_url %}
		<iframe class="streamPlayer" src="{{ mission.youtube_embed_url }}" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
	{% endif %}
	<aside class="minor" style="margin-top: {% if mission.youtube_url %}1.5em{% else %}0.5em{% endif %};">{{ mission.type_name }}</aside>
	<h1>{{ mission.title }}</h1>
	
	<table class="simpleTable" style="margin-left: 0;">
		<tr>
			<td><strong>Time</strong></td>
			<td>{{ mission.pretty_date|safe }}</td>
		</tr>
		<tr>
			<td><strong>Location</strong></td>
			<td>{{ mission.location }}</td>
		</tr>
	</table>
	
	<p>
		{% if mission.description %}
			{{ mission.html_description|safe }}
		{% else %}
			<em>No mission details.</em>
		{% endif %}
	</p>
	
	<p style="font-size: larger;">
		{% if admin %}
			{% if mission.wave_url %}
				<a href="{{ mission.wave_url }}" target="_blank" class="socialIcon rizzoma small">Mission wave</a>
			{% else %}
				<a href="/missions/edit?id={{ mission.id }}" class="socialIcon rizzoma small missing">No mission wave link</a>
			{% endif %}
			
			{% if mission.drive_url %}
				<a href="{{ mission.drive_url }}" target="_blank" class="socialIcon gdrive small">Google Drive folder</a>
			{% else %}
				<a href="/missions/edit?id={{ mission.id }}" class="socialIcon gdrive small missing">No Google Drive link</a>
			{% endif %}
			
			&nbsp;&nbsp;&nbsp;&nbsp;
		{% endif %}
		
		{% if mission.fb_url %}
			<a href="{{ mission.fb_url }}" target="_blank" class="socialIcon fb small">Facebook event</a>
		{% elif admin %}
			<a href="/missions/edit?id={{ mission.id }}" class="socialIcon fb small missing">No Facebook link</a>
		{% endif %}
		
		{% if mission.gplus_url %}
			<a href="{{ mission.gplus_url }}" target="_blank" class="socialIcon gplus small">Google+ event</a>
		{% endif %}
		
		{% if mission.the_link_url %}
			<a href="{{ mission.the_link_url }}" target="_blank" class="socialIcon thelink small">The Link event</a>
		{% endif %}
		
		{% if mission.youtube_url %}
			<a href="{{ mission.youtube_url }}" target="_blank" class="socialIcon youtube small">YouTube video</a>
		{% elif admin %}
			<a href="/missions/edit?id={{ mission.id }}" class="socialIcon youtube small missing">No YouTube link</a>
		{% endif %}
	</p>
	{% if admin %}
		{# Only require these links for standard missions. #}
		
		<p style="font-size: larger;">
			{% if mission.intro_url %}
				<a href="{{ mission.intro_url }}" target="_blank">Intro. presentation</a>
			{% elif mission.type == 0 %}
				<a href="/missions/edit?id={{ mission.id }}" style="color: #ff8e8e;">No intro. presentation link</a>
			{% endif %}
			<br />
			
			{% if mission.pres_url %}
				<a href="{{ mission.pres_url }}" target="_blank">Mission presentation</a>
				<br />
			{% endif %}
			
			{% if mission.sign_in_url %}
				<a href="{{ mission.sign_in_url }}" target="_blank">Sign-in form</a>
			{% elif mission.type == 0 %}
				<a href="/missions/edit?id={{ mission.id }}" style="color: #ff8e8e;">No sign-in form link</a>
			{% endif %}
		</p>
	{% endif %}
	
	
	{% if mission.runners %}
		{% if mission.type == 0 %}
			<h3>Run by:</h3>
		{% else %}
			<h3>Volunteers:</h3>
		{% endif %}
		<ul style="list-style-type: none;">
			{% for runner in mission.runners_list %}
				{% if runner.show %}<li>{{ runner.name or runner.id }}</li>{% endif %}
			{% endfor %}
		</ul>
	{% endif %}
	
	{% if admin %}
		<br /><br />
		<a role="button" href="/missions/edit?id={{ mission.id }}">&#x270e; Edit mission</a>
	{% endif %}
</section>
<br />

{% include 'foot.html' %}
