{% include 'head.html' %}

<section class="wide">
	{% include 'semester_picker.html' %}
	<h1>Missions</h1>
	<table class="bigListTable">
		{% for mission in missions %}
			<tr>
				<td class="missionTypeCol">{{ mission.type_name }}</td>
				<td class="missionTitleCol"><a href="/missions/info?id={{ mission.id }}"><strong>{{ mission.title }}</strong></a></td>
				<td class="missionDateCol">{{ mission.pretty_date|safe }}</td>
				<td class="missionSocialCol">
					{% if mission.fb_url %}
						<a href="{{ mission.fb_url }}" target="_blank" class="socialIcon fb tiny">FB</a>
					{% endif %}
					{% if mission.gplus_url %}
						<a href="{{ mission.gplus_url }}" target="_blank" class="socialIcon gplus tiny">G+</a>
					{% endif %}
			</tr>
		{% endfor %}
	</table>
	{% if admin %}
		<p><a role="button" href="/missions/edit">&#x2795; Add mission</a></p>
	{% endif %}
</section>

{% include 'foot.html' %}
