{% include 'head.html' %}

<section>
	<h1>Edit Mission</h1>
	<form action="" method="POST">
		<table class="formTable" style="width: 100%;">
			<tr>
				<td>
					<label for="id">
						Mission number
						<br />
						<small>Or unique identifier (numbers and lowercase letters) for special missions</small>
					</label>
				</td>
				<td>
					{% if mission.id %}
						<input type="hidden" name="id" value="{{ mission.id }}" />
						<input type="text" name="id" value="{{ mission.id }}" disabled="disabled" />
					{% else %}
						<input type="text" name="id" required="required" pattern="[a-z0-9\-]+" />
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>
					<label for="type">Type</label>
				</td>
				<td>
					<select name="type">
						<option value="0"{% if mission.type == 0 %} selected="selected"{% endif %}>Weekly (Standard)</option>
						<option value="1"{% if mission.type == 1 %} selected="selected"{% endif %}>Special</option>
						<option value="2"{% if mission.type == 2 %} selected="selected"{% endif %}>Away</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<label for="title">Title</label>
				</td>
				<td>
					<input type="text" name="title" value="{{ mission.title or '' }}" required="required" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="description">
						Description
						<br />
						<small>Add formatting using <a href="http://support.mashery.com/docs/customizing_your_portal/Markdown_Cheat_Sheet" target="_blank">Markdown</a></small>
					</label>
				</td>
				<td>
					<textarea name="description">{{ mission.description or '' }}</textarea>
				</td>
			</tr>
			<tr>
				<td>
					<label for="start">
						Start date/time
						<br />
						<small>yyyy-mm-ddThh:mm</small>
					</label>
				</td>
				<td>
					<input type="datetime-local" name="start" value="{{ mission.start_str or '' }}" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="end">
						End date/time
						<br />
						<small>yyyy-mm-ddThh:mm</small>
					</label>
				</td>
				<td>
					<input type="datetime-local" name="end" value="{{ mission.end_str or '' }}" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="location">Location</label>
				</td>
				<td>
					<input type="text" name="location" value="{{ mission.location or '' }}" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="runners">
						Runners
						<br />
						<small>Use comma-separated UUIDs for now</small>
					</label>
				</td>
				<td>
					<textarea name="runners">{{ mission.runners_str or '' }}</textarea>
				</td>
			</tr>
			<tr>
				<td>
					<label for="wave_url">
						Mission wave
						<br />
						<small>Only shown to admins</small>
					</label>
				</td>
				<td>
					<input type="url" name="wave_url" value="{{ mission.wave_url or '' }}" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="fb_url">Facebook event</label>
				</td>
				<td>
					<input type="url" name="fb_url" value="{{ mission.fb_url or '' }}" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="gplus_url">Google+ event</label>
				</td>
				<td>
					<input type="url" name="gplus_url" value="{{ mission.gplus_url or '' }}" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="the_link_url">The Link event</label>
				</td>
				<td>
					<input type="url" name="the_link_url" value="{{ mission.the_link_url or '' }}" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="youtube_url">YouTube video</label>
				</td>
				<td>
					<input type="url" name="youtube_url" value="{{ mission.youtube_url or '' }}" />
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<button type="submit">Save</button>
				</td>
		</table>
	</form>
</section>
<br />

{% include 'foot.html' %}
