<form action="" method="GET" id="semesterPicker" style="float: right;">
	{% if prev_semester %}
		<a href="?semester={{ prev_semester }}" role="button">&lt;&lt;</a>
	{% endif %}
	<select name="semester">
		{% for semester in semesters %}
			<option value="{{ semester['id'] }}"{% if semester['selected'] %} selected="selected"{% endif %}>{{ semester['pretty'] }}</option>
		{% endfor %}
	</select>
	{% if next_semester %}
		<a href="?semester={{ next_semester }}" role="button">&gt;&gt;</a>
	{% endif %}
</form>
