@charset 'UTF-8';

#footer {
	font-size: 75%;
	text-align: center;
	
	border-top: 12px solid #ffcc99;
	position: relative;
}
	/* Secondary stripe */
	#footer::before {
		content: '';
		display: block;
		position: absolute;
		left: 40%;
		right: 20%;
		top: -12px;
		height: 12px;
		background-color: #cc6699;
		border-width: 0 6px;
		border-style: solid;
		border-color: black;
	}

.socialIcon {
	display: inline-block;
	width: 48px;
	height: 48px;
	
	font-size: 1px;
	color: transparent !important;
	text-decoration: none;
	
	background-image: url('/static/images/social_icons.png');
	background-size: 144px 240px;
}
	.socialIcon.fb {
		background-position: 0 0;
	}
		.socialIcon.fb:hover {
			background-position: -48px 0;
		}
		.socialIcon.fb:active {
			background-position: -96px 0;
		}
	.socialIcon.gplus {
		background-position: 0 -48px;
	}
		.socialIcon.gplus:hover {
			background-position: -48px -48px;
		}
		.socialIcon.gplus:active {
			background-position: -96px -48px;
		}
	.socialIcon.twitter {
		background-position: 0 -96px;
	}
		.socialIcon.twitter:hover {
			background-position: -48px -96px;
		}
		.socialIcon.twitter:active {
			background-position: -96px -96px;
		}
	.socialIcon.slack {
		background-position: 0 -144px;
	}
		.socialIcon.slack:hover {
			background-position: -48px -144px;
		}
		.socialIcon.slack:active {
			background-position: -96px -144px;
		}
	.socialIcon.youtube {
		background-position: 0 -192px;
	}
		.socialIcon.youtube:hover {
			background-position: -48px -192px;
		}
		.socialIcon.youtube:active {
			background-position: -96px -192px;
		}
