@charset 'UTF-8';

#header {
	margin-top: 4px;
	padding: 0;
	
}
	#header a {
		text-decoration: none;
	}
	#header img {
		width: 100%;
		height: auto;
	}
	#header .star-name {
		display: none;
		
		position: absolute;
		
		font-family: 'Roboto Condensed', 'Helvetica Neue Condensed', 'Helvetica Condensed', 'Arial Narrow', sans-serif;
		font-weight: bold;
		text-transform: uppercase;
		
		color: #ffcc99;
		
		transition-duration: 0.15s;
		transition-property: font-size, left, top;
	}

@media (min-width: 417px) {
	#header {
		background-color: #080808;
		background-image: url('/static/images/header_logo_line.png');
		background-repeat: repeat-x;
		background-size: 8px 107px;
	}
		#header img {
			width: 417px;
			height: 107px;
		}
}
@media (min-width: 660px) {
	#header .star-name {
		display: block;
		left: 324px;
		top: 66px;
		font-size: 24px;
	}
}
@media (min-width: 1024px) {
	#header .star-name {
		left: 356px;
		top: 22px;
		font-size: 48px;
	}
}

#nav {
	border-bottom: 12px solid #ffcc99;
	text-align: center;
}
	#nav a {
		display: inline-block;
		position: relative;
		
		margin: -4px 8px 0;
		border-bottom: 0 none transparent;
		padding: 2px 0;
		
		font-family: 'Roboto Condensed', 'Helvetica Neue Condensed', 'Helvetica Condensed', 'Arial Narrow', sans-serif;
		font-size: 150%;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
		white-space: nowrap;
	}
		#nav a:focus,
		#nav a:hover,
		#nav a.active {
			border-bottom-color: #9999ff;
		}
		#nav a:active {
			border-bottom-color: #cc99ff;
		}
		
	#nav .extra-link {
		float: right;
		text-transform: none;
		display: none;
	}

@media (min-width: 560px) {
	/* Fancy LCARS navigation bar style on wider windows. */
	#nav {
		text-align: left;
	}
		#nav a {
			border-bottom: 12px solid transparent;
			margin-bottom: -12px;
		}
			#nav a::before,
			#nav a::after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				bottom: -12px;
				width: 6px;
				background-color: black;
			}
				#nav a::before {
					left: -6px;
				}
				#nav a::after {
					right: -6px;
				}
			#nav a:first-child {
				margin-left: 32px;
			}
}
@media (min-width: 680px) {
	/* Show STARfest but not STARchive on medium width windows. */
	#nav .extra-link:not(:last-child) {
		display: inline-block;
	}
}
@media (min-width: 820px) {
	#nav .extra-link {
		display: inline-block;
	}
}
