@charset 'UTF-8';

.simpleTable,
.bigListTable {
	margin: 0 auto;
}
	.simpleTable td:first-child {
		text-align: right;
		padding-right: 1em;
	}
	.bigListTable td {
		padding: 0.5em 1em;
	}

table textarea {
	width: 100%;
	height: 100%;
}
table input[type="text"],
table input[type="email"],
table input[type="url"] {
	width: 100%;
}

@media (max-width: 760px) {
	.missionTypeCol {
		display: none;
	}
}
@media (max-width: 640px) {
	.missionSocialCol {
		display: none;
	}
}
@media (max-width: 600px) {
	.bigListTable td {
		padding: 0.5em 0.5em;
	}
}